.media_idade{
    width: 44%;
    height: 150px;
    margin: 15px;
    margin-top: 30px;
    background-color: #dddddd;
    
}
.selectTipoSanguineo{
    width:60%;
    height:30px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #000000;
    margin-top: 2%;
    margin-left: 20%;
    
   
}

.mtitle , .sbtitle,  p{
    text-align: center;
}
.sbtitle{
    padding-top: 5px;    
    margin-top: 12px;
}

p{ 
    margin: 20px;
}

@media screen and (max-width: 1000px) {
    .media_idade{
        width: 88%;
        height: 150px;
        margin: 5%;
        background-color: #dddddd;
       
    }
    .selectTipoSanguineo{
        width:60%;
        height:30px;
        border-radius: 8px;
        border: 2px solid;
        border-color: #000000;
        margin-top: 10px;
        margin-left: 20%;
    }
            
}

@media screen and (max-width: 600px) {
    .imc_medio{
        width: 100%;
        height: 150px;
        margin: 5%;
        background-color: #dddddd;
       
    }
    .selectTipoSanguineo{
        width:60%;
        height:30px;
        border-radius: 8px;
        border: 2px solid;
        border-color: #000000;
        margin-top: 10px;
        margin-left: 20%;
    }
            
}
