.header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background-color: #740DD5;
    z-index: 2;

}
.title_header{
    position: absolute;
    color:whitesmoke;
    right: 60px;
    top: 15px;
    font-size: larger;

}