.sidenav{
    background-color: #740DD5;
    width: 130px;
}
.nav-list :hover{
    background-color: #4C098D;
    
}

.sidenav a {
    color:whitesmoke;
    font-size: small;
}
.sidenav i{
    padding-right: 10px;
}

.sidenav span{
    padding-top:5px;
}

.content{
  height: 86vh;
}